.main {
  min-height: 100vh !important;
  // min-height: 100% !important;
  background-color: #013a6b;
  background-image: -webkit-linear-gradient(90deg, red 50%, #ffffff 50%);
  .mat-elevation-z10 {
    max-width: 700px;
    min-width: 350px;
    padding: 20px;
    h3 {
      text-align: center;
    }
  }
}

.cursor {
  cursor: pointer;
}
.mat-step-label {
  min-width: 0 !important;
}
