<div fxLayout="column" class="main" fxFill fxLayoutAlign="center center">
  <div class="mat-elevation-z10 mat-app-background" fxLayout="row wrap" fxLayoutAlign="start center">
    <!-- <form> -->
    <h3 fxFlex="100">Signup</h3>
    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matPrefix>sentiment_very_satisfied</mat-icon>
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matPrefix>sentiment_very_satisfied</mat-icon>
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between">
      <button mat-stroked-button routerLink="/auth" color="primary">Login</button>
      <button mat-raised-button color="primary">Sign Up</button>
    </div>
    <!-- </form> -->
  </div>
</div>